@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  height: 100vh; 
  width: 100vw;
  overflow-x: hidden;
}

:root { 
  --bg-color: #f9f9f9;
}

/* .bg-custom-gradient {
  background: linear-gradient(to top, #ef73d4 80%, #b7110b 20%);
} */